html, main, body, div, a, button, figure, figcaption, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body{
    background-color: #FFF5F5;
}

header{
    background-color: #B51630;
    width: 100%;
    height: 130px;
}

main {
    width: 780px; 
    height: calc(100% - 130px);
    margin: 0 auto;
    padding: 1px;
    background-color: #30706F;
   /* border: 1px solid transparent; */
}

main section {
    display: flex;
    width: 80%;
    margin: 45px auto;
    border-radius: 14px;
    background-color: #FFF8DC;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-10px);
}

main section figure {
    padding: 20px;
}

main section figure img{
    width: 120px;
    height: 120px;
}

main section figure figcaption{
    display: none;
}

main section p {
    font-size: 18px;
}

main section div {
    text-align: center;
    margin: 0 15px;
}

main section div button{
    font-size: 12px;
    padding: 10px 20px;
    background-color: #B51630;
    color: #F8F8F8;
    cursor: pointer;
}

/* Exemplos de utilização de pseudo-classes */
main section:nth-child(odd){
    background-color: cyan;
    flex-direction: row-reverse;
    transform: translateX(20px);
}

main section:hover {
    background-color: #dbbc3e ;
}

main section div button:disabled{
    background-color: #c5c5c5;
    cursor: none;
}

main section div button:active{
    background-color: #d034df;
    cursor: none;
}

main section div a{
    color: inherit;
    font-size: 13px;
}


/*
Pseudo-classes
 :hover
 :active
 :disabled
 :focus

 :visited
 :last-child
 :first-child
 :nth-child()
*/
